In [1]:
a = set()
print(a)

set()

In [3]:
a = {1,2,3,4,5}
print(a)
print(type(a))

{1, 2, 3, 4, 5}
<class 'set'>

In [4]:
a = {1,2,3,4,5,5}
a

{1, 2, 3, 4, 5}

In [10]:
a = {'.',1,'apple','Zebra',2}
print(a)

{1, 2, 'apple', 'Zebra', '.'}

In [11]:
a = {'.',1,'apple','Zebra',2}
a[0]

TypeError: 'set' object does not support indexing

In [12]:
a = {'.',1,'apple','Zebra',2}
b = {1,2,3}
a+b

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [16]:
a = {'.',1,'apple','Zebra',2}
a*2

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [17]:
# union
# intersection
# difference

In [18]:
# a U b
a = {1,2,3,4}
b = {4,5,6}
a.union(b)

{1, 2, 3, 4, 5, 6}

In [19]:
a = {1,2,3,4}
b = {4,5,6}
c = {7}
a.union(b,c)

{1, 2, 3, 4, 5, 6, 7}

In [21]:
a = {1,2,3,4}
b = {4,5,6}
c = {4}
a.intersection(b,c)

{4}

In [22]:
#difference A-B
a = {1,2,3,4}
b = {4,5,6}
a.difference(b)

{1, 2, 3}

In [23]:
#difference A-B
a = {1,2,3,4}
b = {4,5,6}
b.difference(a)

{5, 6}

In [26]:
a = set()
b = {}
print(type(a))
print(type(b))

<class 'set'>
<class 'dict'>

In [30]:
#adding elements(mutable datatype)
a = {1,2,3,4}
a.add(5)
a

{1, 2, 3, 4, 5}

In [33]:
a = {1,2,3,4}
b = 5
a.add(b)
a

{1, 2, 3, 4, 5}

In [62]:
#Update
a = {1,2,3,4}
b = {5,6}
a.update(b)
print(a)

{1, 2, 3, 4, 5, 6}

In [40]:
#Add
a = set()
for i in range(5):
    x = int(input("Enter the value = "))
    a.add(x)
    print(i)
print(a)

Enter the value = 1
0
Enter the value = 1
1
Enter the value = 1
2
Enter the value = 1
3
Enter the value = 1
4
{1}

In [38]:
a = {1,2,3,4,5}
a.remove(5)
a

{1, 2, 3, 4}

In [41]:
# Remove
a = set('Apple')
a.remove('A')
a

{'e', 'l', 'p'}

In [42]:
# a =[[],[],[]]
# b = ([],[],[])

In [43]:
a = {{1,2,3},4,3,2}
a

TypeError: unhashable type: 'set'

In [44]:
a = {[1,2,3],4,3,2}
a

TypeError: unhashable type: 'list'

In [45]:
a = {(1,2,3),4,3,2}
a

{(1, 2, 3), 2, 3, 4}

In [46]:
a = {'apple','ball'}
a

{'apple', 'ball'}

In [48]:
a = {(1,2,3),4,3,2}
print(len(a))
a.remove((1,2,3))
a

4

{2, 3, 4}

In [51]:
a = {1,2,3,4}
b = (5,)
a.add(b)
a

{(5,), 1, 2, 3, 4}

In [53]:
a=[1,2,3]
b = (1,2,3)
c = {1,2,3}
a = tuple(a)
print(type(a))

<class 'tuple'>

In [54]:
a = [1,2,3]
tuple(a)

(1, 2, 3)

In [55]:
a = (1,2,3)
list(a)

[1, 2, 3]

In [58]:
a = [1,1,2,2,3,3]
a = set(a)
list(a)

[1, 2, 3]

In [59]:
a = set('apple')
a

{'a', 'e', 'l', 'p'}

In [60]:
a = tuple('Apple')
a

('A', 'p', 'p', 'l', 'e')

In [63]:
# Subset
# Superset
# disjoint

In [64]:
a = {1,2,3,4}
b = {1,2}
b.issubset(a)

True

In [65]:
a = {1,2,3,4}
b = {1,2}
a.issubset(b)

False

In [66]:
a = {1,2,3,4}
b = {1,2}
a.issuperset(b)

True

In [69]:
a = {1,2,3,4}
b = {1,2}
b.issuperset(a)

False

In [71]:
a = {1,2,3,4}
b = {1,2}
a.isdisjoint(b)

False

In [72]:
a = {1,2,3,4}
b = {5,6}
a.isdisjoint(b)

True