In [1]:
a = (1,2,3)
type(a)

tuple

In [2]:
a =(1,2,3)
b = (4,5)
a+b

(1, 2, 3, 4, 5)

In [4]:
a = (1,2,3,4)
b =(5,)
a+b

(1, 2, 3, 4, 5)

In [7]:
t = ()
n = int(input("Enter the value of n = "))
for i in range(n):
    x = input("Enter the value of x = ")
    t = t+(x,)
print(t)

Enter the value of n = 3
Enter the value of x = Ram
Enter the value of x = Shyam
Enter the value of x = Hari
('Ram', 'Shyam', 'Hari')

In [12]:
a = ('Ram', 'Shyam', 'Hari')
a[0]

'Ram'

In [13]:
a = ('Ram', 'Shyam', 'Hari')
for i in a:
    print(i)

Ram
Shyam
Hari

In [14]:
a = ('Ram', 'Shyam', 'Hari')
a*2

('Ram', 'Shyam', 'Hari', 'Ram', 'Shyam', 'Hari')

In [17]:
a = ('Ram', 'Shyam', 'Hari', 'Ram', 'Shyam', 'Hari')
for i in a:
    print("yes",a.count('Ram'))
    break

yes 2

In [16]:
a = ('Ram', 'Shyam', 'Hari', 'Ram', 'Shyam', 'Hari')
if i in a:
    print("yes",a.count('Ram'))

yes 2

In [18]:
a = (23,34,23,56,78,34)
print(max(a))
print(min(a))

78
23

In [19]:
a = (23,34,23,56,78,34)
a.index(78)

4

In [21]:
# tuple as an argument
def cal(x):
    l,b,h = x
    print(l*b*h)
    
x = (4,5,6)
cal(x)

120

In [22]:
# tuple as an argument
def cal(x):
    l = x[0]
    b = x[1]
    h = x[2]
    print(l*b*h)
    
x = (4,5,6)
cal(x)

120

In [25]:
# tuple inside tuple
a = ((1,2,3),(4,5,6),(7,8,9))
print(a[0])

(1, 2, 3)

In [26]:
a = ((1,2,3),(4,5,6),(7,8,9))
for i in a:
    print(i)

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)

In [39]:
a = ((1,2,3),(4,5,6),(7,8,9))
b = ((10,11,12),)
c = a+b
print(c)

((1, 2, 3), (4, 5, 6), (7, 8, 9), (10, 11, 12))

In [36]:
len(c)

4

In [45]:
a = ((1,2,3),(4,5,6),(7,8,9))
b = ((10,11,12),)
c = a+b
print(c[:2])
print(c)

((1, 2, 3), (4, 5, 6))
((1, 2, 3), (4, 5, 6), (7, 8, 9), (10, 11, 12))